body{

    background-image: url(../images/Vintage-Flowers-Wallpapers-and-Backgrounds.jpg);
}


h1{
    text-align: center;
    font-family: 'Brush Script MT', cursive; 
    letter-spacing: 4px;
    padding: 5px;

    margin-top: 75px;
    color: brown;
    margin-bottom: 35px;
    height: 45px;
    font-size: 60px;
    display: block;
   
 
}

#main{

    margin-left: auto;
    margin-right: auto;
    width: 500px;
    color: black;
   border: 3px double black;
   padding:10px;

}

#HowdyMolly{
    font-size:35px;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 25px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: right;
}