/* p.one{
    background-color: #eeeeee;
    color: #666666;
    text-shadow: 1px, 1px, 0px, #000000;
}
p.two{
    background-color: #dddddd;
    color: #666666;
    text-shadow: 1px, 1px, 0px, #000000;
}
p.three{
    background-color: #cccccc;
    color: #666666;
    text-shadow: 1px, 1px, 0px, #000000;
}
p.four{
    background-color: #bbbbbb;
    color: #666666;
    text-shadow: 1px, 1px, 0px, #000000;
}
p.five{
    background-color: #aaaaaa;
    color: #666666;
    text-shadow: 1px, 1px, 0px, #000000;
}

p.intro:first-letter{
    font: size 45px; ;

}

p.intro:first-line{
    font-weight: 400;

}
a:hover{
    color: pink;
    text-decoration: underline;
}
a:active{
    color: blue;
}
a:visited{
    color: deeppink;
}
a:link{
    color: #000000;
    text-decoration:none;
} */

/* h1{
   font-family: 'Times New Roman', Times, serif;
    color:  #0088dd;
   font-size: 250%;
   text-shadow: 2px 2px 3px  #666666;
   padding: 10px;
   margin-top:5px;
   margin-bottom:10px ;

}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0088dd;
    font-size: 90%;

}
p.intro{ 
    font-weight: bold;
}
h2.breedhistory{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}
p.author{
    text-align: right;
    font-style: italic;
} */

/* p{
    height: 25%;
    width:75% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
}
div.box{
    width: 600px;
    height: 600px;
    background-color: deeppink;
} */

/* td p {
    color:black ;
} */

/* body{
    text-align: center;
    
}
p{
    width: 300px;
    padding: 5px 10 px;
    border: 20px solid blue ;

} 
p.example{
    text-align: center;
    margin: 100px auto 100px auto;

} */

/* li{
    display: inline-block;
    margin: 50px auto auto auto;



}
li.comingsoon{
    visibility: hidden;
} */

/* p.one{
border: 7px solid deeppink;
width: 400px;
height: 300px;
text-align:center;
padding: 20px;
border-top-left-radius: 150px;
-moz-border-radius-top-left: 80px 50px

}
p.two{
    border: 7px solid deeppink;
width: 400px;
height: 300px;
text-align: center;
padding: 20px;
border-radius: 1em 4em 1em 4em;


}
p.three{

    border: 10px solid deeppink;
    width: 100px;
    height:100px ;
    padding: 0px;
    border-radius: 100px;
}
 */
body{
    
    font-family: "Courier New", Courier, monospace;
    font-size: 80%;
    letter-spacing: 0.15em;
    background-image: white; 
 }
 #page{
    max-width: 940px;
    min-width: 720px;
    height:720px;
    margin: 10px auto 10px auto;
    padding: 10px;
    border: 4px double black;

}

.thelogo{
    display: block;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

ul{
    text-align: center;

}
li{
    display: inline;
    margin: 0px 10px;

}
p{
    text-align: center;
    width: 600px; 
    margin: 20px auto 20px auto; 
    font-weight: normal;}
a {
color: #000000;
        text-transform: uppercase;
        text-decoration: none;
        padding: 6px 18px 5px 18px;}
        a:hover, a.on {
        color: #cc3333;
        background-color: #ffffff;}


